<table>
  <thead>
    <tr>
      <th>Used point</th>
      <th>Point left</th>
      <th>Data date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.used_point %></td>
        <td><%= point.point_left %></td>
        <td><%= point.data_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>